
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin background-to-edge {
  position: relative;
  padding: 1em 0;
  z-index: 10;

  &:before, &:after {
    display: block;
    content: " ";
    position: absolute;
    width: 100vw;
    background: inherit;
    top: 0;
    left: -100vw;
    height: 100%;
    z-index: -1;
  }

  &:after {
    left: -5vw;
    right: 5vw;
  }
}

// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

//fonts
@import url("https://use.typekit.net/zxp5wax.css");

.dropdown-submenu > a:after {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

nav.toolbar-lining {
  position: static;
}

.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > a:after {
  float: left;
  content: "\e079";
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu {
  left: -100%;
}

//fix modal close button to so that it is aboue the modal title
.close {
  z-index: 10;
}

/*
============================================

                   Styles for Myerstown Site
============================================
                                   -- styles
============================================
*/
html {
  font-size: 62.5%;
}

body {
  color: $gray-base;
  font-family: $primaryFont;
  font-size: 1.6em;
  font-style: normal;
  font-weight: lighter;
}

a {
  color: $brand-primary;
  font-family: $linkFont;

  &:visited,
  &:hover {
    color: rgba($brand-primary, .8);
    text-decoration: none;
  }

  &:hover img {
    opacity: .9;
  }
}

body h2 {
  font-size: 3rem;
}

.page-header {
  color: $brand-primary;
  font-size: 3.8rem;
  background-color: $brand-accent;
  border: none;
  font-weight: lighter;
}

.path-frontpage .page-header span:before {
  content: 'Make Space. Claim Space.';
}

.field--name-field-headline-text,
.field--name-field-link {
  text-align: center;
  color: $brand-primary;
  text-transform: uppercase;
  font-weight: bold;

  a {
    @extend .field--name-field-headline-text;
    font-family: $primaryFont;
    text-decoration: underline;
  }
}

header.navbar {
  background-color: $gray;
}

.region-navigation .logo {
  background-color: $brand-primary;
  text-align: center;
}

#block-searchbutton {
  color: $white;
  font-size: 1.5em;
  cursor: pointer;
}
@include for-phone-only {
  #block-telephone a {
    font-size: 1.4rem;
  }
  
  #block-searchbutton span.icon {
    color: $gray-base;
  }
  
  #block-responsivemenumobileicon {
    .responsive-menu-toggle-icon:before, 
    .responsive-menu-toggle-icon:after, 
    .responsive-menu-toggle-icon span.icon {
      background-color: $gray-base;
    }
  }
}

#block-telephone {
  color: $white;
  font-size: 1.4em;
  cursor: pointer;

  a {
    font-weight: 400;
  }
}

.outline-button {
  border: 2px solid $brand-warning;
  display: block;
  margin: 0 auto;
  max-width: 15rem;

  a {
    color: $brand-warning;
    font-size: 1.9rem;
    font-family: $primaryFont;
    font-weight: 100;
    padding: 1.2rem 0;
    display: block;
  }
}

#block-homepagestepsblock {
  
  h2 {
    color: $brand-primary;
    text-align: center;
    font-size: 2.5em;
  }

  h3 {
    color: $brand-warning;
  }
}

a.cta-button {
  background-color: $brand-warning;
  font-family: $primaryFont;
  font-size: .85em;
  color: $white;
  padding: .5em;
  display: inline-block;
}

.menu--product-navigation {

  li a {
    color: $white;
  }

  li a:hover, 
  li a:focus {
    background-color: transparent;
    color: rgba($white, .7);
  }

  .dropdown-menu {
    background-color: $gray;
  }
}

.navbar-default,
.navbar-default .navbar-form {
  border: none;
  background-color: transparent;
}

input, select, textarea,
.form-control {
  background-color: rgba($gray-base, .25);
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $gray-base;

  &:focus {
    border: 1px solid rgba($brand-primary, .8);
  }
}

.paragraph--type--text-area-brand-color p {
  color: $brand-primary;
}

.file {
  width: auto;
  display: inline-block;
  border: 0;
  font-size: 1em;
  font-family: $primaryFont;
  
  a:hover {
    text-decoration: underline;
  }
  
  > span {
    color: $attention;
    background: transparent;
    border: inherit;
    
    &:first-child, &:last-child {
      border: inherit;
    }
    
    &:first-child {
      padding-left: 0;
    }
    
    .icon:before {
      color: $attention;
    }
  }
}

.messages__wrapper {
  max-width: 50vw;
}

.search-block-form {
  float: right;
  width: 50vw;
  max-width: 17em;
  display: none;


  input,
  .btn {
    height: 3em;

  }
}

#block-questionsgetintouch {
  @include background-to-edge;
  background-color: #F0F0F0;
  
  h2 {
    color: $brand-primary;
  }
}

#block-servicearea {
  @include background-to-edge;
  background-color: #4B4B4B;
  color: $white;
  
  h2 {
    color: $white;
    font-weight: normal;
    margin-bottom: 3rem;
  }
}

#block-address {
  font-size: 1.9rem;
  margin: 6rem auto;

  a {
    font-weight: bold;
  }
}

#block-copyrightblock {
  font-size: .85em;
  
  a {
    text-decoration: underline;
  }
}

.view-content,
.field--name-field-product {
  display: block;

  .views-row,
  > .field--item {
    font-size: 1.8rem;
    font-weight: 100;
    border: $gray-lighter 1px solid;
    
    .outline-button {
      border: 2px solid $brand-warning;
    }

    .views-field a,
    .name a {
      color: $gray-base;
      font-family: $primaryFont;
    }
    
    .views-field.btn {
      border: 2px solid $brand-primary;
      border-radius: 0;
      white-space: normal;
      width: 100%;
      padding: .8rem 0;
    }

    .views-field.btn a {
      color: $brand-primary;
      font-size: 1.8rem;
    }
  }
}

.view-promoted-categories {
  @include background-to-edge;
  background: $brand-accent;
  max-width: 1140px;
  margin: 0 auto;
  padding: 3em 0 3em 0;
    
  .view-content .views-row {
    width: calc(100% / 4 - .15em);
    margin: 0;
    border: none;
    
    h4, .views-field-field-short-description {
      text-align: left;
      margin: 1em 0;
    }

    h4 {
      font-size: 1.4em;
    }
  }
}

.view-category-image {
  .view-content {
    display: block;
  }
  
  .view-content .views-row {
    margin: 0 0 -7.5em 0;
    padding: 0;
    width: 100%;
    border: none;
  }
  
  .img-responsive {
    width: 100%;  
  }
}

//X-TRA Wide SCREEN
@media (min-width: 1475px) {
  .region-navigation #block-productnavigation {
    li a,
    li a:hover,
    li a:active {
      font-size: 2.2rem;
    }
  }
}

//import the layout css
@import 'flexslider.scss';
@import 'layout.scss';