// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

//fonts
@import url("https://use.typekit.net/zxp5wax.css");

//bootstrap menu issue
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    padding: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
  content: "\e080";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 10px;
  float: right;
  margin-top: 5px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-nav li:last-child > .dropdown-menu {
  left: auto;
  right: 0px;
}
.navbar-nav li:last-child > .dropdown-menu a {
  text-align: right !important;
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > a:after {
  float: left;
  content: "\e079";
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu {
  left: -100%;
}
//Begin Custom Styles
html {
  font-size: calc(10px + .62vw);
}

body {
  color: $gray-base;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .125em;

  a {
    color: $brand-primary;
    font-family: $linkFont;

    &:visited,
    &:hover {
      color: rgba($brand-primary, .8);
      text-decoration: none;
    }

    &:hover img {
      opacity: .9;
      box-shadow: 0 0 2px $gray;
    }
  }

  .field--name-field-headline-text {
    color: $brand-warning;
    text-align: center;

    a {
      @extend .field--name-field-headline-text;
      font-family: $primaryFont;
      text-decoration: underline;
    }
  }

  .navbar-default,
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
    background-color: transparent;
  }
//forms styles 

  input, select, textarea,
  .form-control {
    background-color: rgba($gray-base, .25);
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: $gray-base;

    &:focus {
      border: 1px solid rgba($brand-primary, .8);
    }
  }
}