
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

//fonts
@import url("https://use.typekit.net/zxp5wax.css");

//bootstrap menu issue
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    padding: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
  content: "\e080";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 10px;
  float: right;
  margin-top: 5px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-nav li:last-child > .dropdown-menu {
  left: auto;
  right: 0px;
}
.navbar-nav li:last-child > .dropdown-menu a {
  text-align: right !important;
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > a:after {
  float: left;
  content: "\e079";
}
.navbar-nav li:last-child > .dropdown-menu .dropdown-submenu > .dropdown-menu {
  left: -100%;
}


/*
============================================

                   Styles for Myerstown Site
============================================
                                   -- layout
============================================
*/

@include for-phone-only {
  #block-searchbutton {
    position: absolute;
    top: -3em;
    right: 3em;
    span.icon {
      color: $gray-base;
    }
  }
  #block-responsivemenumobileicon {
    position: absolute;
    top: -4.25em;
    right: 0;
    .responsive-menu-toggle-icon:before, 
    .responsive-menu-toggle-icon:after, 
    .responsive-menu-toggle-icon span.icon {
      background-color: $gray-base;
    }
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  height: 100%;
}

.main-container {
  margin: 0;
  padding: 0;

  .col-sm-12 {
    float: none;
  }

  section {
    padding: .5em 2em;
    margin: 1em auto;
    max-width: 800px;
  }
}

p {
  margin: 2em 0;
}

#block-siteheadline {
  text-align: center;
}

.field--name-field-headline-text,
.field--name-field-link {
  display: inline-block;
  padding: 1.4em 0;
  font-size: 1.5rem;

  a {
    padding: 0;
  }
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin: 0;
  padding: 0;
}

header.navbar {
  padding: 0;
  border-radius: 0;
}

.navbar-header {

  .logo {
    padding: 0;
    margin: 0;
    img {
      width: 100%;
      max-width: 165px;
      padding: 0;
      margin: 0 auto;
    }
  }
}

.region-navigation #block-productnavigation {
  display: none;
  padding: 0;
  float: right;
  width: 54vw;
  margin: 0 auto;
  li,
  .open {
    padding-top: 2.12em;
    display: inline-block;

    a,
    a:hover,
    a:active {
      font-size: 1.2vw;
      padding: 0 .25vw;
      background-color: transparent;
    }
  }
  li .caret {
    display: none;
  }
}

.mm-menu_offcanvas.mm-menu_opened + div {
  width: 80vw;
}

.mm-menu .menu--product-navigation,
.mm-menu .dropdown-menu {
  display: block;
}

.mm-menu .dropdown-menu {
  display: block;
  position: relative;
  background: transparent;
  top: auto;
  float: none;
  left: auto;
  padding: 0;
  font-size: 1em;

  li a {
    padding: 1em .25em;
    display: inline-block;

    &:hover {
      background: transparent;
    }
  }

  li a.mm-btn {
    float: right;
    padding: .5em 0;
  }
}

.responsive-menu-toggle {
  /* display: inline-block; */
  float: right;
}

.responsive-menu-toggle-icon {
  width: 3.75em;
  margin-top: 2em;

  span.label {
    display: none;
  }

  &::before,
  &::after,
  span.icon {
    width: 1.6em;
    border-radius: 0;
  }
  &::before {
    top: .3em;
  }
  &::after {
    top: 1.45em;
  }
}

.toggle .label {
  display: none;
}

.user-login-form {
  max-width: 20em;
  margin: 0 auto;
}

.paragraph--type--text-area-brand-color p {
  font-size: 2rem;
}

footer.footer {
  background-color: $brand-primary;
  color: $white;
  text-align: center;
  height: 22.47em;
  font-weight: 100;

  a {
    color: $white;
  }
}


/*
============================================

                   Styles for Myerstown Site
============================================
                                   -- styles
============================================
*/

body {
  color: $gray-base;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 400;
}

a {
  color: $brand-primary;
  font-family: $linkFont;

  &:visited,
  &:hover {
    color: rgba($brand-primary, .8);
    text-decoration: none;
  }

  &:hover img {
    opacity: .9;
    //box-shadow: 0 0 2px $gray;
  }
}

.page-header {
  display: inline-flex;
  justify-content: flex-end;
  align-content: center;
  width: 50vw;
  background-color: $brand-accent;
  padding: 1em 0;

  span {
    width: 12em;
    color: $brand-primary;
    font-size: 2rem;

    &:before {
      content: ' ';
      font-size: .65em;
      text-align: left;
      display: block;
      padding-top: .8em;
       
    }
  }
}

.path-frontpage .page-header span:before {
  content: 'Make Space. Claim Space.';
}

.field--name-field-headline-text,
.field--name-field-link {
  text-align: center;
  color: $brand-primary;
  text-transform: uppercase;
  font-weight: bold;

  a {
    @extend .field--name-field-headline-text;
    font-family: $primaryFont;
    text-decoration: underline;
  }
}

header.navbar {
  padding: 0;
  background-color: $gray;
  margin-bottom: 0;
}

.region-navigation .logo {
  width: 50vw;
  max-width: 250px;
  background-color: $brand-primary;
  text-align: center;
  padding: 1.45em .2em;
}

#block-searchbutton {
  float: right;
  margin: 1.5em .5em 0;
  color: $white;
  font-size: 1.4em;
  cursor: pointer;

  .contextual {
    margin-top: -1em;
  }
}

#block-telephone {
  float: right;
  margin: 1.4em .5em 0;
  color: $white;
  font-size: 1.4em;
  cursor: pointer;
}

.outline-button {
  border: 3px solid $brand-warning;
  padding: .3em .75em;

  a {
    color: $brand-warning;
    font-size: .85em;
    font-weight: bold;
  }
}

.menu--product-navigation {

  li a {
    color: $white;
  }

  li a:hover, 
  li a:focus {
    background-color: transparent;
    color: rgba($white, .7);
  }

  .dropdown-menu {
    background-color: $gray;
  }
}

.navbar-default,
.navbar-default .navbar-form {
  border: none;
  background-color: transparent;
}

input, select, textarea,
.form-control {
  background-color: rgba($gray-base, .25);
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $gray-base;

  &:focus {
    border: 1px solid rgba($brand-primary, .8);
  }
}

.paragraph--type--text-area-brand-color p {
  color: $brand-primary;
}

.messages__wrapper {
  max-width: 50vw;
}

.search-block-form {
  float: right;
  width: 50vw;
  max-width: 17em;


  input,
  .btn {
    height: 3em;

  }
}

#block-footerlogo {
  padding: 2em 0;
}

#block-copyrightblock {
  font-size: .85em;
  
  a {
    text-decoration: underline;
  }
}

.view-content {
  display: block;

  .views-row {
    padding: 1em 1.2em;
    margin: 1em;
    font-weight: 400;
    text-align: center;
    border: $gray-lighter 1px solid;

    .views-field a {
      color: $gray-base;
      font-family: $primaryFont;
    }

    .views-field,
    .outline-button {
      display: block;
      margin: 0 auto 1.75em auto;
    }

    .outline-button {
      max-width: 8em;
      
      a {
        font-weight: 100;
      }
    }
  }
}

@include for-tablet-portrait-up {
  .navbar-header {
    float: unset;
  }
  .responsive-menu-toggle-wrapper.responsive-menu-toggle {
    display: inline-block;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
  }

  .views-row {
    width: calc(100% / 2 - 2em);
    
  }
}

@include for-desktop-up {
  .region-navigation #block-productnavigation {
    display: inline-block;
  }
  .mm-menu .menu--product-navigation,
  .mm-menu .dropdown-menu {
    display: none;
  }

  .view-content .views-row {
    width: calc(100% / 3 - 2em);
  }
}

@media (min-width: 1475px) {
  .region-navigation #block-productnavigation {
    li a,
    li a:hover,
    li a:active {
      font-size: 1.2em;
    }
  }
}